body{
    background-color: #1D8804; 

}

.team img{
   width: 256px;
   gap: 10%;
   border-radius: 50%;
   display: flex;
   justify-content: 30%;


}
.figure{
   text-align: center;
   font-size: 16px;
   color: aliceblue;
}

.teammembers{
    text-align: center;
    color: aliceblue;
    /* padding-left: 36%; */
    font-size: 32px;
}
.buttomteam{
    padding-top: 45px;
    display: flex;
    gap: 20%;
    padding-left: 500px;
}
.upperteam{
    display: flex;
    gap: 20%;
    padding-top: 8px;
    padding-left: 300px;
    /* margin-right: 10%; */
    padding-right: 280px;
    

}


@media screen and (min-width:280px) and (max-width:480px){
    body{
        background-color: #1D8804; 
    }
    
    .team img{
       width: 150px;
       gap: 10%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
       /* margin-left: 82%; */
       
    
    
    }
    .figure{
       font-size: 1rem;
       /* padding-left: -200px; */
    
    }
    
    .teammembers{
        font-size: 30px;
        text-align: center;
    }

    .buttomteam{
        padding-left: 10px;
       flex-direction: column;
       align-items: center;
       /* margin-left: -200%; */
    
        
    }
    .upperteam{
        flex-direction: column;
       align-items: center;
        /* padding-left: 10px; */
        padding-left: 50px;
        padding-right: 50px;
       
        
    
    }
    
}



@media screen and (min-width:540px) and (max-width:740px){
    body{
        background-color: #1D8804; 
    
    }
    .container{
        padding-right: 100px;
        margin-right: 20%;
       
    }
    .team img{
       width: 140px;
       gap: 10%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
       /* margin-left: 48%; */
      
    
    
    }
    .figure{
       font-size: 1rem;
    }
    .teammembers{
        font-size: 30px;
        padding-left: 40px;
    }
    .buttomteam{
       flex-direction: row;
       align-items: center;
       padding-left:0px;
       padding-right: 0px;
       margin-left: 20%;
       gap: 50px;
        
    }
    .upperteam{
        flex-direction: row;
       align-items: center;
       margin-left: -53.5%;
       gap: 50px;
        /* padding-left: 0px;
        padding-right: 0px;        */
        
    
    
    }


    }
    
    

    
@media screen and (min-width:741px) and (max-width:1020px){
   
    body{
        background-color: #1D8804; 
    
    }
    .container{
        padding-right: 100px;
        margin-right: 20%;
       
    }
    .team img{
       width: 150px;
       gap: 10%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
       margin-right: 10%;
      
        
    
    }
    .figure{
       font-size: 1rem;
       /* padding-right:40px; */
       
    }
    .teammembers{
        font-size: 30px;
        padding-left: 10px;
        
    }
    .buttomteam{
       flex-direction: row;
       align-items: center;
       padding-left:0px;
       padding-right: 0px;
       margin-left: 30%;
       gap: 50px;
        
    }
    .upperteam{
        flex-direction: row;
       align-items: center;
       margin-left: -20%;
       gap: 50px;
        /* padding-left: 0px;
        padding-right: 0px;        */
        
    
    
    }


}



@media screen and (min-width:768px) and (max-width:1020px){
   
    body{
        background-color: #1D8804; 
    
    }
    .container{
        padding-right: 100px;
        margin-right: 20%;
       
    }
    .team img{
       width: 150px;
       gap: 10%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
       margin-right: 10%;
      
        
    
    }
    .figure{
       font-size: 1rem;
       /* padding-right:40px; */
       
    }
    .teammembers{
        font-size: 30px;
        padding-left: 10px;
        
    }
    .buttomteam{
       flex-direction: row;
       align-items: center;
       padding-left:0px;
       padding-right: 0px;
       margin-left: 30%;
       gap: 50px;
        
    }
    .upperteam{
        flex-direction: row;
       align-items: center;
       margin-left: -24%;
       gap: 50px;
        /* padding-left: 0px;
        padding-right: 0px;        */
        
    
    
    }


}







@media screen and (min-width:800px) and (max-width:1020px){
   
    body{
        background-color: #1D8804; 
    
    }
    .container{
        padding-right: 100px;
        margin-right: 20%;
       
    }
    .team img{
       width: 150px;
       gap: 10%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
       margin-right: 10%;
      
        
    
    }
    .figure{
       font-size: 1rem;
       /* padding-right:40px; */
       
    }
    .teammembers{
        font-size: 30px;
        padding-left: 10px;
        
    }
    .buttomteam{
       flex-direction: row;
       align-items: center;
       padding-left:0px;
       padding-right: 0px;
       margin-left: 30%;
       gap: 50px;
        
    }
    .upperteam{
        flex-direction: row;
       align-items: center;
       margin-left: -19%;
       gap: 50px;
        /* padding-left: 0px;
        padding-right: 0px;        */
        
    
    
    }


}




@media screen and (min-width:900px) and (max-width:1020px){
   
    body{
        background-color: #1D8804; 
    
    }
    .container{
        padding-right: 100px;
        margin-right: 20%;
       
    }
    .team img{
       width: 150px;
       gap: 10%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
       margin-right: 10%;
      
        
    
    }
    .figure{
       font-size: 1rem;
       /* padding-right:40px; */
       
    }
    .teammembers{
        font-size: 30px;
        padding-left: 10px;
        
    }
    .buttomteam{
       flex-direction: row;
       align-items: center;
       padding-left:0px;
       padding-right: 0px;
       margin-left: 30%;
       gap: 50px;
        
    }
    .upperteam{
        flex-direction: row;
       align-items: center;
       margin-left: -14%;
       gap: 50px;
        /* padding-left: 0px;
        padding-right: 0px;        */
        
    
    
    }


}






@media screen and (min-width:1030px) and (max-width:1220px){
    

    body{
        background-color: #1D8804; 
    
    }
    .container{
        padding-right: 100px;
        margin-right: 20%;
       
    }
    .team img{
       width: 180px;
       gap: 30%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
      
    
    
    }
    .figure{
       font-size: 1rem;
       
    }
    .teammembers{
        font-size: 30px;
        
    }
    .buttomteam{
       flex-direction: column;
       align-items: center;
       padding-left:20px;
       /* padding-right: 50px; */
        
    }
    .upperteam{
        flex-direction:column;
        align-items: center;
        padding-left: 30px;
        /* padding-right: 150px;        */
        
    
    }
    
}


@media screen and (min-width:1221px) and (max-width:1280px){
   
 
    body{
        background-color: #1D8804; 
    
    }
    .container{
        padding-right: 100px;
        margin-right: 20%;
       
    }
    .team img{
       width: 220px;
       gap: 5%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
    
    
    }
    .figure{
       font-size: 1rem;
    }
    .teammembers{
        font-size: 30px;
    }
    .buttomteam{
       flex-direction: row;
       align-items: center;
       padding-left:320px;
       /* padding-right: 50px; */
        
    }
    .upperteam{
        flex-direction:row;
        align-items: center;
        padding-left: 140px;
        /* padding-right: 150px;        */
        
    
    }
}






@media screen and (min-width:1024px) and (max-width:1029px){
    


    body{
        background-color: #1D8804; 
    
    }
    .container{
        padding-right: 100px;
        margin-right: 20%;
       
    }
    .team img{
       width: 220px;
       gap: 10%;
       border-radius: 50%;
       display: flex;
       justify-content: space-between;
       width: 150px;
    
    
    }
    .figure{
       font-size: 1rem;
       
    }
    .teammembers{
        font-size: 30px;
    }
    .buttomteam{
       flex-direction: row;
       align-items: center;
       padding-left:80px;
       padding-right: 60px;
       margin-left: 20%;
        
    }
    .upperteam{
        flex-direction:row;
        align-items: center;
        padding-left: 150px;
        padding-right: 150px;       
        
    
    }
    
}



