


.Joinbtn {
  background-color: green;
  color: aliceblue;
  border-radius: 50px;
  margin-top: 60px;
  font-size: 24px;
  padding: 12px 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingPage-heading {
  color: green;
  font-size: 100px;
  margin-left: 28%;
  width: 2%;
  
}



.landingpage {
display: flex;
margin-top: 100px;
}

.photo{
  width: 1000px;
  height: auto;
  margin: 0 auto; 
  
}

.handshake {
  width: 40px;
  height: 30px;
  align-items: center;
  margin-top: 4%;
  color: aliceblue;
}
.openingtext{
  margin-left: 100px;
}
.landing-text{
  margin-top: 6ch;
    font-size: 30px;

}
@media screen and (min-width: 270px) and (max-width: 340px) { 
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage-heading{
    color: green;
    margin-left:-43px ;
    font-size: 2.5rem;
  }
  
 
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  margin-left: -39px;
  }
  
  .photo{
    width: 100%;
    margin-top: 5%;
    height: auto;
    margin-left: 5%;    
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: 40px;
    font-size: 3rem;
  }
  .landing-text{
    margin-top: 5%;
      font-size: 1rem;
  
  }
  
}

@media only screen and (min-width: 341px) and (max-width: 359px) { 
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage-heading{
    color: green;
    text-align: left;
    font-size: 3rem;
  }
  
 
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  }
  
  .photo{
    width: 100%;
    display: none;
    margin-top: 500%;
    height: auto;
    margin-left: 1.5%;    
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: 40px;
  }
  .landing-text{
    margin-top: 5%;
      font-size: 1.5rem;
  
  }
  
}

@media only screen and (min-width: 360px) and (max-width: 370px) { 
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    margin-left: 15%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage-heading{
    color: green;
    font-size: 3rem;
    margin-left: -10%;
  }
  
 
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  margin-left: -300px;
  }
  
  .photo{
    width: 50%;
    margin-top: 0;
    height: auto;
    margin-left: -80%; 
    padding-left: 140px;   
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: -90px;
    text-align: center;
    /* font-size: 45%; */
  }
  .landing-text{
    margin-top: 5%;
      font-size: 1.5rem;
      text-align: center;
      margin-left: -10%;

     
  }
  
}

@media only screen and (min-width: 375px) and (max-width: 395px) { 
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage-heading{
    color: green;
    font-size: 3rem;
    margin-left: -10%;
  }
  
 
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  }
  
  .photo{
    width: 100%;
    margin-top: 5%;
    height: auto;
    margin-left: 1.5%;    
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: 20px;
  }
  .landing-text{
    margin-top: 5%;
      font-size: 1.5rem;
      text-align: center;
      margin-left: -10%;
  }
  
}
 


@media only screen and (min-width: 396px) and (max-width: 414px) { 
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage-heading{
    font-size: 3rem;
    margin-left: 15%;
    text-align: left;
  }
  
 
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  }
  
  .photo{
    width: 100%;
    margin-top: 10%;
    height: auto;
    margin-left: 1.5%;    
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: 20px;
    width: 90%;
  }
  .landing-text{
    margin-top: 5%;
    font-size: 1.5rem;
    text-align: center;
    margin-left: -10%;
  }
  
}

@media only screen and (min-width: 415px) and (max-width: 540px) {
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10%;
  }
  
  .landingPage-heading{
    color: green;
    margin-left: -39%;
    font-size: 3rem;
  }
  
 
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  }
  
  .photo{
    width: 100%;
    margin-top: 5%;
    height: auto;
    margin-left: -25%;    
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: 40px;
  }
  .landing-text{
    margin-top: 5%;
      font-size: 1.5rem;
      margin-left: -28%;
  
  }
  
}

@media only screen and (min-width: 767px) and (max-width: 768px) {
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage-heading{
    color: green;
    margin-left: 18%;
    font-size: 3.5rem;
    margin-left: -29%;
  }
  
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  }
  
  .photo{
    width: 100%;
    margin-top: 5%;
    height: auto;
    margin-left: 1.5%;    
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: 40px;
  }
  .landing-text{
    margin-top: 5%;
      font-size: 2rem;
      margin-left: 1%;
  
  }
}


@media only screen and (min-width: 820px) and (max-width: 900px) {
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    display: flex;
    margin-left: 39px;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage-heading{
    color: green;
    margin-left: -28%;
    font-size: 3.5rem;
    
  }
  
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  }
  
  .photo{
    width: 100%;
    margin-top: 5%;
    height: auto;
    margin-left: 1.5%;    
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: 40px;
  }
  .landing-text{
    margin-top: 5%;
      font-size: 2rem;
      margin-left: 6%;
  
  }}


@media only screen and (min-width: 901px) and (max-width: 935px) {
  .openingtext {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 60px;
    /* font-size: 20px; */
    margin-top: -4%;
    margin-left: 0px;
  }

  .landing-text {
    margin-top: 30px;
    font-size: 35px;
    width: 190%;
    margin-left: 35%;
   
  }

  .Joinbtn {
    margin-top: -30px;
    font-size: 28px;
    padding: 4px 5px;
    margin-left: 35%;
  }

  .landingPage-heading{
    font-size: 55px;
    margin-left: 27%;
  }

  .landingimage1 img{
    width: 10%;
    height: auto;
    margin-left: 0px;
  }

  .handshake {
    width: 35px;
    height: auto;
    margin-top: 4%;
  } 
}


@media only screen and (min-width: 1024px) and (max-width: 1123px) {
  .openingtext {
    display: flex;
    flex-direction: column;
    padding: 0;
    /* gap: 60px; */
    /* font-size: 20px; */
    margin-top: -4%;
    margin-left: 10px;
  }
  .landingpage {
    display: flex;
    gap: 0;
    margin-top: 10px;
    overflow-x: hidden;
    }
    .photo{
      width: 180%;
      margin-top: 15%;
      height: auto;
      margin-left: -98px;    
    }

  .landing-text {
    margin-top: 1%;
    font-size: 2rem;
    width: 100%;
    margin-left: 7%;
  }

  .Joinbtn {
   
    border-radius: 50px;
    margin-top: 10px;
    font-size: 1rem;
    width:200px;
    height: 50px;
    padding: 0;
    gap: 10px;
    border: none;
    margin-left: 6%;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
  }
  

  .landingPage-heading {
    font-size: 56px;
    width: 34%;
    margin-left: 5%;
  }

  .landingimage1 {
    width: 10%;
    height: auto;
    margin-left:-60%;
  }

  .handshake {
    width: 10%;
    height: auto;
    margin-top: 4%;
  } 
}

@media only screen and (min-width: 1124px) and (max-width: 1280px) {
  .openingtext {
    display: flex;
    flex-direction: column;
   
    padding: 0;
    gap: 60px;
    /* font-size: 20px; */
    margin-top: -4%;
    margin-left: 40px;
  }

  .landing-text {
    margin-top: 30px;
    font-size: 36px;
    width: 100%;
  }

  .Joinbtn {
    margin-top: 50px;
    font-size: 23px;
    padding: 4px 5px;
    gap: 3%;
  }

  .landingPage-heading{
    font-size: 65px;
  }

  .landingimage1 {
    width: 50%;
    height: auto;
    margin-left: 0px;
  }

  .handshake {
    width: 35px;
    height: auto;
    margin-top: 4%;
  } 

}
@media only screen and (min-width: 341px) and (max-width: 360px) {
  .Joinbtn {
    background-color: green;
    color: aliceblue;
    border-radius: 50px;
    margin-top: 60px;
    font-size: 24px;
    padding: 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage-heading{
    color: green;
    font-size: 3rem;
    margin-left: -10%;
  }
  
 
  .landingpage {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  flex-direction: column;
  }
  
  .photo{
    width: 100%;
    margin-top: 5%;
    height: auto;
    margin-left: 1.5%;    
  }
  
  .handshake {
    width: 40px;
    height: 30px;
    align-items: center;
    margin-top: 4%;
    color: aliceblue;
  }
  .openingtext{
    margin-left: 55%;
  }
  .landing-text{
    margin-top: 5%;
      font-size: 1.5rem;
      text-align: center;
  
  }
  
}






